/* seletor */
body {
    background-color: #c6c6c6;
    box-sizing: border-box;
    width: 90%;
    margin: auto;
}

p{
    color: blue; /* color, sempre é o texto */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

nav {
    border: 2px solid #000;
    background-color: #b987e7; 
    width: 100%;
    height: auto;
}

table  {
    border: 1px solid black; background: #0ebe17;
}

th {
    border: 1px solid black; border-radius: 10px solid; color: #943cc7;
}

td {
    border: 1px solid black; border-radius: 10px solid black; background: #FFFFFF;
}

img{
    width: 30%;
    border: 10px solid #000;
    padding: 10px;
    margin: 20px;
    border-radius: 20%;
    display: block;
}

a{
    
   
}